body {
    margin: 0;
    padding: 40px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #00ff08;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #33ff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .container {
    text-align: center;
    background: #374c4f;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 1555px rgba(146, 255, 87, 0.451);
    width: 220px;
  }

  .textbox {
    text-align: center;
    background: #000000;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15555prgba(255, 0, 0, 0.5)5;
    width: 1920px;
  }
  
  .avatar {
    width: 250px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .tagline {
    color: #aaa;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  
  .links a {
    color: #00ffea;
    text-decoration: none;
    font-size: x-large;
    margin: 0 10px;
    font-weight: bold;
    position: relative;
  }

  .top a {
    color: tan;
    text-decoration-style: solid;
    margin: 0 12px;
    font-size: x-large;
    font-weight: bold;
    position: relative;
  }
  .top span {
    color: rgb(255, 0, 0);
    text-decoration-style: solid;
    margin: 0 12px;
    font-size: x-large;
    font-weight: bold;
    position: relative;
  }

  .bob {
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    background-size: contain;
  }

  .bobwtf {
    vertical-align: middle;
    display: inline-block;
    background-repeat: repeat-x;
    background-size: auto;
    width: 31111em;
    height: 5em;
  }

  .happy {
    background-image: url('/bobs/bob_happy.png');
  }
  .coding {
    background-image: url('/bobs/bob_coding.png');
  }
  .swag {
    background-image: url('/bobs/bob_swag.png');
  }
  .wtf {
    background-image: url('/bobs/bob_wtf.png');
  }
  .question {
    background-image: url('/bobs/bob_question.png');
  }
  .lol {
    background-image: url('/bobs/bob_lol.png');
  }
  .angry {
    background-image: url('/bobs/bob_angry.png');
  }
  .bobs {
    background-image: url('/bobs/bobs.gif');
  }
  



